.motion__background {
    position: relative;
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
    }
    .billboard {
        position: absolute;
        top: 20%;
        bottom: 35%;
        left: 4%;
        width: 36%;
        z-index: 10;
        color: white;
        img {
            width: 50%;
        }
        .buttons {
            display: flex;
            .btn_play {
                background-color: white;
                border-radius: 5px;
                color: black;
                padding: 6px 12px;
                text-decoration: none;
                margin-right: 1em;
            }
            .btn_info {
                background-color: white;
                border-radius: 5px;
                color: black;
                padding: 6px 12px;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
    }

  
}

.wrapper {
    padding: 4em;
    overflow: hidden;
    .swiper {
        width: 100%;
        height: 100%;
        overflow: visible;
        .swiper__slide {
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            .movie__card {
                transition: 0.3s;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:hover {
                    transform: scale(1.5);
                    z-index: 1;
                    .movie__info {
                        display: block;
                    }
                }
                .movie__info {
                    display: none;
                    background: #181818;
                    padding: 0.5em;
                    .movie__buttons {
                        display: flex;
                        justify-content: space-between;                
                        .play,
                        .more {
                            border: 1px solid white;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg {
                                color: white;
                            }
                        }
                        .more {
                            svg {
                                font-size: 12px;
                            }
                        }
                        .play {
                            svg {
                                font-size: 10px;
                            }
                        }
                    }
                    .recommandation {
                        color: #3ED370;
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}