.main {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    background: none;
    .body {
        background-color: white;
        padding: 0 4%;
        .netflix__header {
            text-decoration: none;
            vertical-align: middle;
            fill: #e50914;
            display: inline-block;
            line-height: 90px;
            img {
                height: 45px;
                width: 167px;
                vertical-align: middle;
            }
        }
    }
}