.main {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    background: none;
    .body {
        margin-left: 15rem;
        background-color: white;
        padding: 0 4%;
    }
}
 
 