.header__main {
    display: flex;
    padding: 0 4%;
    height: 68px;
    background-color: $secondary-black;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

.main {
    background: $primary-black;
}