.movies__category {
    padding: 0 4%;
    .breadcrumb {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-bottom: 1em;
        list-style: none;
        li {
            a {
                color: grey;
                text-decoration: none;
                &::after {
                    content: '>';
                    padding: 0 0.5em;
                }
            }
        }
    }
    .movie__grid {
        display: grid;
        grid-template-columns: repeat(6, calc(100%/6));
        overflow: visible;
        .movie__card {
            position: relative;
            & > div {
                padding: 0.2em;
                padding-bottom: 3em;
            }
        }
    }
}