.main {
    // background-image: url('../../../assets/images/netflix_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    .body {
        background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
        padding: 0 4%;
        .netflix__header {
            text-decoration: none;
            vertical-align: middle;
            fill: #e50914;
            display: inline-block;
            line-height: 90px;
            img {
                height: 45px;
                width: 167px;
                vertical-align: middle;
            }
        }
    }
}