@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    main {
        padding: 0 4%;
        background-color: $secondary-black;
    }
    footer {
        padding: 0 4%;
    }
    h1 {
        margin: 0;
    }
}

